@model Post

<p>
    <b>@Model.Title</b> isimli postu silmek istiyor musunuz ?

    <form asp-action="Delete" method="post">
        <input type="hidden" value="@Model.PostId" name="id">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="List" class="btn btn-primary">Hayır</a>
    </form>
</p>